name: ShellCheck Linting

on:
  push:
    paths:
      - '**.sh'
      - '.github/workflows/lint.yml'
  pull_request:
    paths:
      - '**.sh'
      - '.github/workflows/lint.yml'

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './scripts'
          severity: warning
          format: gcc
